<% layout('layout/boilerplate') %>

<div class="text-center mx-auto px-auto">
    <img src="/stylesheets/pagenotfound.png" style="height:60vh; width:60vw; margin-top:10vh;">
  <b>  <p style="font-size:20px;"> Oops!! Page Not Found</p>  </b>
</div>